/* Mobile phones breakpoint */
html {
    font-size:16pt;
}

/*NAVBAR*/
#nav {
    background-color:white;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 4px black;
    min-height: 48px;
}

#companylogo {
    font-size:1rem;
    font-weight:800;
    color:darkred;
    padding-top: 10px;
    
}

#companylogo_end {
    font-size:1rem;
    font-weight:800;
    padding-top: 10px;
    display:inline;
    color:darkred;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkred;
    text-align:left;   
}

.shopping-cart-button {
    margin-top: 6px;
}
#shoppingcartlogo {
    font-size:1rem;
    color:darkred;
}
#shoppingcart_content {
    display:inline;
    font-size:0.7rem;
    font-weight:800;
} 

/* HEADER IMAGE */
.header_img {
    object-fit: cover;
    height:25vh;
}

/*CHECKOUT PAGE*/
/*PRODUCTS IN SHOPPINGCART*/
.shoppingcart-div {
    margin-bottom:10px;
    box-shadow: 0px 2px 2px lightgray;
}

.shoppingcart-header h2{
    font-size: 1.5rem;
    font-weight: 800;
    color: darkred;
    padding:20px; 
}

.purchase-info {
    font-size:0.6rem;
    color:black;
}

.purchaseditem-image{
    object-fit: scale-down;
    height:10vh;
}

.shoppingcart-item-titel {
    font-size:0.6rem;
    font-weight:bold;
    border-right:1px solid lightgrey;
}

.purchase-item-amount, .purchase-item-price{
   padding:none !important;
}

.numberofpurchaseditems{
    border-radius:8px;
    text-align: center;
    border:1px solid darkred;  
    width: 25%;
}
.backtoshop-button {
    font-size:0.7rem;
    font-weight: 500;
    color: whitesmoke; 
    background-color: darkgrey;
    border-radius:28px;
    border: none;
}

.backtoshop-button:hover {
    background-color: rgb(95, 94, 94);
}

.purchase-item-sum {
    font-size: 1.5rem;
    font-weight:bold;

}

/*CHECK OUT FORM*/

.checkoutcontent {
    padding-left: 70px;
    padding-right: 70px;
}
.checkoutheaders {
    font-weight: 500;
    color: darkred;
    text-transform: uppercase;
    border-bottom:1px solid lightgray; 
}


/* PAYMENT OPTIONS */
.paymentinput {
    border-radius:.25rem;
    font-size: 0.6rem;
    border:1px solid lightgrey;
    height:calc(1.5em + .75rem + 2px); 
    padding: .375rem .75rem;
    line-height:1.5;
}

#klarna-input {
    display: visible;
}
#credit-input, #swish-input {
    display: none;
}

#sendorderbtn {
    font-size:0.9rem;
    font-weight: 500;
    color:whitesmoke; 
    text-transform: uppercase;
    background-color: darkred;
    border-radius:28px;
    width:300px;
    border: none; 
}
#sendorderbtn:hover {
    background-color: rgb(61, 6, 6);
    color: whitesmoke;
}
.form-control {
    font-size: 0.6rem;
}

/*TACK FÖR DITT KÖP-MODAL*/

#modal {
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    border: 3px darkred solid;
    z-index: 1;
    width: 70%;
    top: 50%;
    left: 50%;
    padding: 30px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

.modalheader {
     font-size: 1.2rem;
}

#customersname {
    font-size: 1.2rem;
}

#modalreciept {
    padding-top: 10px;
}

.reciept {
    margin-top: 30px;
    margin-bottom: 30px;
}

.modalokbutton {
    font-size:0.7rem;
    font-weight: 500;
    color:whitesmoke; 
    text-transform: uppercase;
    background-color: grey;
    border-radius:28px;
    width: 250px;
    margin-top: 30px;
    border: none; 
}

.modalokbutton:hover {
    background-color: rgb(65, 63, 63);
}
 

.modalgobackbtn {
    font-size:0.7rem;
    font-weight: 500;
    color:whitesmoke; 
    text-transform: uppercase;
    background-color: darkred;
    border-radius:28px;
    width: 250px;
    border: none; 
}

/* FOOTER */
footer {
    background-color:white;
    font-size: 0.7rem;
    border-top:1px solid grey;
}
.footer-logo {
    font-size: 0.8rem;
    font-weight: 800;
}
.footer-phone, .footer-email {
    color: grey;
    text-decoration: underline;
}
.footer-phone:hover, .footer-email:hover {
    text-decoration: none;
    color: black;
}


/* Padlet 768px */
@media (min-width: 768px) {
    /* HEADER */
    .header_img {
        height:30vh;
    }  

    /* SHOPPIBG-BAG */
    .purchase-info {
        font-size:1rem;
        color:black;
    }
    .shoppingcart-item-titel {
        font-size:1rem;
    }
    .numberofpurchaseditems {
        width: 20%;
    }

}


/*Desktop */ 
@media (min-width: 992px) {

   
    /*Shopping bag*/
    .numberofpurchaseditems {
        width: 8%;
    }
    .shoppingcart-item-titel {
        font-size:1rem;
    }

    
}