/* Mobile phones breakpoint */

/* HEADER IMAGE */
.header_img {
    object-fit: cover;
    height:25vh;
}

/*CHECKOUT PAGE*/

/*PRODUCTS IN SHOPPINGCART*/
.shoppingcart-div {
    margin-bottom:10px;
    box-shadow: 0px 2px 2px lightgray;
}

.shoppingcart-header h2{
    font-size: 1.5rem;
    font-weight: 800;
    color: darkred;
    padding:20px; 
}

.purchase-info {
    font-size:0.6rem;
    color:black;

}

.purchaseditem-image{
    object-fit: scale-down;
    height:10vh;
}

.shoppingcart-item-titel {
    font-size:0.6rem;
    font-weight:bold;
    border-right:1px solid lightgrey;
}

.purchase-item-amount, .purchase-item-price{
   padding:none !important;
}

.numberofpurchaseditems{
    border-radius:8px;
    text-align: center;
    border:1px solid darkred;  
    width: 25%;
}
.backtoshop-button {
    font-size:0.7rem;
    font-weight: 500;
    color: whitesmoke; 
    background-color: darkgrey;
    border-radius:28px;
    border: none;
}

.backtoshop-button:hover {
    background-color: rgb(95, 94, 94);
}

.purchase-item-sum {
    font-size: 1.5rem;
    font-weight:bold;

}

/*CHECK OUT FORM*/

.checkoutcontent {
    padding-left: 70px;
    padding-right: 70px;
}
.checkoutheaders {
    font-weight: 500;
    color: darkred;
    text-transform: uppercase;
}

#klarna-input, #credit-input, #swish-input {
    display: none;
}



.sendorderbtn {
    font-size:0.9rem;
    font-weight: 500;
    color:whitesmoke; 
    text-transform: uppercase;
    background-color: darkred;
    border-radius:28px;
    width:300px;
    border: none; 
}
#sendorderbtn:hover {
    background-color: rgb(61, 6, 6);
    color: whitesmoke;
}
.form-control {
    font-size: 0.6rem;
}

/*TEST-MODAL*/

p { margin-top: 0; }

.modal-container {

    position: fixed;
    background-color: #fff;
    border: 3px darkred solid;
    z-index: 100;
    width: 70%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

 /*THANKS FOR YOUR PURCHASE DIV */

 #thankyoucustomer {
    display: none;
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 50%;
    height: 85%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px rgba(139, 0, 0, 0.9) solid;
    text-align: center;
 }

 #thankyourcustomerheader {
    font-size: 1.5rem;
 }

 #customersname {
    font-size: 1.5rem;
}

#thankyougoback {
    font-size:0.7rem;
    font-weight: 500;
    color:whitesmoke; 
    text-transform: uppercase;
    background-color: grey;
    border-radius:28px;
    width: 250px;
    border: none; 
}

#thankyougoback:hover {
    background-color: rgb(65, 63, 63);
}
 
/* Padlet 768px */
@media (min-width: 768px) {
    /* HEADER */
    .header_img {
        height:30vh;
    }  

    /* SHOPPIBG-BAG */

    .purchase-info {
        font-size:1rem;
        color:black;
    }
    .shoppingcart-item-titel {
        font-size:1rem;
    }

    .numberofpurchaseditems {
        width: 20%;
    }
}


/*Desktop */ 
@media (min-width: 992px) {
 
    /*Shopping bag*/

    .numberofpurchaseditems {
        width: 8%;
    }

    .shoppingcart-item-titel {
        font-size:1rem;
    }


    
}