/* Mobile phones breakpoint */
html {
    font-size:16pt;
}

/* HEADER */
header {
    height:20vh;
    background-color:grey;   
}

/*NAVBAR*/
#nav {
    background-color:white;
    box-shadow: 0px 0px 8px grey;
}

#logo {
    font-size:1rem;
    font-weight:800;
}

/*SORT MENU */
.sort .navbar {
    box-shadow:none;
    background-color:whitesmoke;
    width: 100%;
}
.sort li {
    font-size:0.6rem;
    list-style:none;
}
.sort h3 {
    font-size:0.7rem;
    text-transform: uppercase;
    padding-top:10px;   
    cursor:pointer;
}
.sort .categories {
    flex-wrap:nowrap ;
}
.categories {
    display:none;
    padding-bottom:5px;
}

.sort input {
    margin-right:5px;
}

/* CARD DECK */
div.card {
    width:80vw;
    border:none;
}
.card-img-top {
    margin-top:20px;
    height:20vh;
    object-fit: scale-down;
}
.card-title{
    width:100%;
    font-size:0.8rem;
    border-top:2px solid lightgrey; 
    padding-top:20px;  
}
.card-text{
    font-size:1.5rem;
    font-weight:bold;
    align-self: baseline;
    margin-right:5px;
} 
.readmore_button {
    font-size:0.7rem;
    font-weight:500;
    background-color:white;
    color:grey;
    align-self: baseline;
    text-transform: uppercase;
    border:none;
}

/* Card buttons */
.btn {
    font-size:0.7rem;
    color: grey; 
    background-color: palegoldenrod;
    border-radius:28px;
    width:100px; 
}
.input-group {
    justify-content: center;
}
.input-group input{
    font-size:0.7rem;
    border-radius:8px;
    text-align: center;
    border:1px solid palegoldenrod; 
}

/* PRODUCT DESCRIPTION */
.product_description {
    display:none;
    font-size:0.7rem;
    text-align:left;
    padding:20px;
    border-top:2px solid lightgrey;
    border-bottom:2px solid lightgrey;
    margin-bottom:20px;
}
/* FOOTER */
footer {
    background-color:white;
    font-size: 0.7rem;
    border-top:1px solid grey;
    /* box-shadow: 4px 4px 22px grey; */

}


/* Padlet 768px */
@media (min-width: 768px) {
    /* HEADER */
    header {
        height:30vh;  
    }    
    /* CARD DECK */
    div.card {
        width:40vw;
        border:none;
    }
    .card-img-top {
        margin-top:20px;
        height:20vh;
        object-fit: scale-down;
    }
    .input-group input{
        font-size:0.7rem;
        border-radius:8px;
        text-align: center;
        border:1px solid palegoldenrod; 
        width:50%;
    }
    .input-group .btn{
        width:30%;
    }
}

/*Desktop */ 
@media (min-width: 992px) {
    /* SORT MENU */
    .sort li {
        font-size:0.7rem;
        width:30%;
    }
    .sort input {
        margin-right:8px;
        margin-left:10px;
    }  
    /* CARD DECK */
    div.card {
        width:25vw;
        border:none;
    }
    .card-img-top {
        margin-top:20px;
        height:20vh;
        object-fit: scale-down;
    }
    .readmore_button {
        font-size:0.7rem;
        font-weight:500;
        color:grey;
        align-self: baseline;
        text-transform: uppercase;
        border:none;
    }
    .input-group input{
        font-size:0.7rem;
        border-radius:8px;
        text-align: center;
        border:1px solid palegoldenrod; 
    }
}