/* Mobile phones breakpoint */

html {
    font-size:16pt;
}
body {
}
main {
}


/* HEADER */
header {
    height:60vh;
    background-color:palegoldenrod;   
}

/*NAVBAR*/

#nav {
    background-color: palegoldenrod;
    
    box-shadow: 0px 0px 8px grey;
}

#logo {
    font-size:1rem;
}


/*SORT MENU */
.sort .navbar {
    box-shadow:none;
    background-color:whitesmoke;
    width: 100%;
}
.sort li {
    font-size:0.6rem;
}
.sort h3 {
    font-size:0.7rem;
    text-transform: uppercase;
    padding-bottom:4px;   
    border-bottom:1px solid grey;
    cursor:pointer;
}

.sort .categories {
    flex-wrap:nowrap ;
}

.sort input {
    margin-right:5px;
}

/* CARD DECK */
div.card {
    width:80vw;
    border:none;
}

.card-img-top {
    margin-top:20px;
    height:20vh;
    object-fit: scale-down;
}

h5 {
    font-size:1rem;
}
.card-text{
    font-size:0.7rem;
    border-top:2px solid palegoldenrod;
    padding-top:5px;
} 

.card-body {
    padding-bottom:none;
}

/* Card buttons */
.btn {
    font-size:0.7rem;
    color:grey; 
    background-color: palegoldenrod;
    border-radius:28px;
}

.custom-select {
    font-size:0.7rem;
    border-radius:20px;
    margin-left: 8px;    
}

/* FOOTER */

footer {
    background-color: palegoldenrod;
    font-size: 0.7rem;
    box-shadow: 4px 4px 22px grey;
}


/*Desktop */ 
@media (min-width: 992px) {
    
    /* HEADER */
    header {
        height:400px;  
    }

    /* SORT MENU */

    .sort li {
        font-size:0.7rem;
        width:30%;
    }
    .sort h3 {
        font-size:0.7rem;
        text-transform: uppercase;
    }
    
    .sort input {
        margin-right:8px;
        margin-left:10px;
    }

    .categories {
        display:none;
        padding-bottom:5px;
    }
    
    /* CARD DECK */
    div.card {
        width:25vw;
        border:none;
    }
    
    .card-img-top {
        margin-top:20px;
        height:20vh;
        object-fit: scale-down;
    }
    
    h5 {
        font-size:1rem;
    }
    .card-text{
        font-size:0.7rem;
        border-top:2px solid palegoldenrod;
        padding-top:5px;
    } 
    
    .card-body {
        padding-bottom:none;
    }

    .product_description {
       display:none;
    }
    
    /* Card buttons */
    .btn {
        font-size:0.7rem;
        color:grey; 
        background-color: palegoldenrod;
        border-radius:28px;
    }
    
    .custom-select {
        font-size:0.7rem;
        border-radius:20px;
        margin-left: 8px;    
    }

}