/* Mobile phones breakpoint */
html {
    font-size:16pt;
}

/*NAVBAR*/
#nav {
    background-color:white;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 4px black;
}

#companyname a {
    font-size:1rem;
    font-weight:800;
    color:darkred; 
}
#shoppingcartlogo {
    font-size:1rem;
    color:darkred;
}


/*DROP-DOWN SHOPPING CART*/
.hidden-basket {
    display: none;
    background: white;
}

.hidden-basket h3, span {
    font-size:0.7rem;
}

.basket-heading h3 {
    font-weight: bold;
}

.basket-text {
    font-weight: normal;
}

.basket-sum {
    padding: 10px 0;
    font-weight: bold;
}

.pay-btn {
    font-size:0.7rem;
    color:whitesmoke; 
    background-color: darkred;
    border-radius:28px;
    border: none;
    padding: 6px 18px;
}

/* HEADER */
.header_img {
    object-fit: cover;
    height:10vh;
}

/*SORTING MENU */
.sort .navbar {
    box-shadow: 0px 0px 4px black;
    border-top: 1px solid black;
    background-color:whitesmoke;
}

#sortheadline {
    color:grey;
    font-weight: 600;
}

.sortcategories {
    display:none;
    font-size:0.6rem;
    list-style:none;
    color:black;
    padding:none;
}

.categories{
    width:50%;
}
.sort h3 {
    font-size:0.7rem;
    text-transform: uppercase;  
    cursor:pointer;
}
.sort input {
    margin-right:5px;
}

/* CARD DECK */
div.card {
    width:80vw;
    border:none;
}
.card-img-top {
    margin-top:20px;
    height:20vh;
    object-fit: scale-down;
}
.card-title{
    width:100%;
    font-size:0.8rem;
    border-top:2px solid lightgrey; 
    padding-top:20px;  
}

.card-text{
    font-size:1.5rem;
    font-weight:bold;
    align-self: baseline;
    margin-right:5px;
} 
.readmore_button {
    font-size:0.7rem;
    font-weight:500;
    background-color:white;
    color:grey;
    align-self: baseline;
    text-transform: uppercase;
    border:none;
}

/* Card buttons */
.input-group {
    justify-content: center;
}
.input-group input{
    font-size:0.7rem;
    border-radius:8px;
    text-align: center;
    border:1px solid grey !important;
    margin-bottom:10px;
}
.input-group .btn {
    font-size:0.7rem;
    color:whitesmoke; 
    background-color: darkred;
    border-radius:28px;
    width:30%;
}

.product_description {
    display:none;
    font-size:0.7rem;
    text-align:left;
    padding:20px;
    border-top:2px solid lightgrey;
    border-bottom:2px solid lightgrey;
    margin-bottom:20px;
}

/*SHOPPING CART*/
.shoppingbag-header{
    font-size: 1.5rem;
    font-weight: 800;
    color: darkred; 
}
.shoppingbag-main {
    text-align: center;
    font-size: 1rem;
    padding-top: 20px;
}
.purchaseditem-image{
    width: 50%;
}
.numberofpurchaseditems{
    border-radius:8px;
    text-align: center;
    border:1px solid darkred;  
    width: 25%;
}
.purchase-button {
    font-size:0.7rem;
    color:whitesmoke; 
    background-color: darkred;
    border-radius:28px;
    width:100px;
    border: none; 
}
.purchase-button:hover {
    background-color: rgba(238, 231, 200, 0.979);
}


/* FOOTER */
footer {
    margin-top:50px;
    background-color:white;
    font-size: 0.7rem;
    border-top:1px solid lightgray;
}
.footer-logo {
    font-size: 0.8rem;
    font-weight: 800;
    color:darkred !important;
}
.footer-phone, .footer-email {
    color: grey;
    text-decoration: underline;
}
.footer-phone:hover, .footer-email:hover {
    text-decoration: none;
    color: black;
}


/* Padlet 768px */
@media (min-width: 768px) {
   
    /* HEADER */
    header {
        /*height:30vh;*/
    }    
    /* CARD DECK */
    div.card {
        width:40vw;
        border:none;
    }
    .card-img-top {
        margin-top:20px;
        height:20vh;
        object-fit: scale-down;
    }
    .input-group input{
        width:50%;
        margin-bottom:0px;
    }

    /* SHOPPING-BAG */
    .shoppingbag-header{
        font-size: 1.2rem;
    }
    .shoppingbag-main {
        text-align: center;
        font-size: 1.2rem;
    }
    .purchaseditem-image{
        width: 30%;
    }
    .numberofpurchaseditems {
        width: 20%;
    }
}


/*Desktop */ 
@media (min-width: 992px) {

    /* SORT MENU */
    .header_img {
        height:24vh;
    }
    .sort li {
        font-size:0.7rem;
        width:30%;
    }
    .sort input {
        margin-right:8px;
        margin-left:10px;
    }  
    /* CARD DECK */
    div.card {
        width:25vw;
        border:none;
    }
    .card-img-top {
        margin-top:20px;
        height:20vh;
        object-fit: scale-down;
    }
    .readmore_button {
        font-size:0.7rem;
        font-weight:500;
        color:grey;
        align-self: baseline;
        text-transform: uppercase;
        border:none;
    }
    .input-group input{
        font-size:0.7rem;
        border-radius:8px;
        text-align: center;
    }
    
    /*Shopping bag*/
    .shoppingbag-main {
        text-align: center;
    }
    .numberofpurchaseditems {
        width: 8%;
    }
    .purchaseditem-image{
        width: 25%;
    }

    /*SORT MENU */
    .sort .navbar {
        box-shadow: 0px 0px 4px black;
        border-top: 1px solid black;
        background-color:whitesmoke;
    }
    #sortheadline {
        color:grey;
        font-weight: 600;
    }
    .sort li {
        display:none;
        font-size:0.6rem;
        list-style:none;
    }
    .sort h3 {
        font-size:0.7rem;
        text-transform: uppercase;
        padding-top:10px;   
        cursor:pointer;
    }
    .categories {
        justify-content:center;
        flex-wrap:nowrap;
    }
}