/* Mobile phones breakpoint */

/* JUMBOTRON */

header {
    background-color: rgb(255, 255, 255);   

}
.jumbotron {
    background-image:url("../styles/headerimage/header-image.jpg")!important;
    /* height: 90vh; */
    background-repeat: no-repeat;
    background-size: cover;
}
.headercontent {
    background-color: whitesmoke;
    top: 15%;
    font-size: 0.7rem;
    padding:10px 20px 10px 20px;
    border-radius: 1px;
    width: 90%;
}
.introheadline {
    border-bottom: 1px solid grey;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 800;
    color:darkred;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}

.image-link {
    object-fit: scale-down;
    height: 25vh;
    opacity: 0.5;
}

#webshop_button, #readmoreindex_button {
    font-size: 0.7rem;
    font-weight: 600;
    color: whitesmoke; 
    background-color: darkred;
    border-radius: 25px;
    border: none;
    width: 150px;
    margin-bottom: 10px;
}
#webshop_button:hover, #readmoreindex_button:hover {
    background-color: rgb(90, 2, 2);
}

/* READ MORE */
.readmoreindex {
    display: none;
}
.infoheadline {
    font-size: 1.5rem;
    font-weight: 800;
    color: darkred;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
#companylogo {
    width: 30%;
}
.index-productnewsimg {
    width: 15%;
}

.introtext {
    color: rgb(0, 0, 0);
    font-size: 1rem;
}
.introheadline p {
    background-color: none;
}
.index-productnews {
    font-size: 0.8rem;
    font-weight: 500;
    color:grey;
    border: none;
}

/* Padlet 768px */
@media (min-width: 768px) {
    /* HEADER */  

    .introheadline {
        font-size: 1.5rem;
    }
    .headercontent {
        font-size: 0.8rem;
        padding-left: 30px;
        padding-right: 30px;
    }    
    #companylogo {
        width: 25%;
    }
}


/*Desktop */ 
@media (min-width: 992px) {

    main {
        display: flex; 
    }

    /* Intro styling */

    .headercontent {
        padding-left: 90px;
        padding-right: 90px;
    }

   .introheadline {
       font-size: 1.8rem;
    }

    .introtext {
    font-size: 1rem;
    }

    .introheadline p {
        background-color:none;
    }

    .index-productnews {
        font-size: 0.7rem;
        font-weight: 500;
        color: grey;
        align-self: baseline;
        text-transform: uppercase;
        border: none;
    }
}
