/* Mobile phones breakpoint */
html {
    font-size:16pt;
}

/*NAVBAR*/
#companyname a {
    font-size:1rem;
    font-weight:800;
    color:darkred; 
}

/*NAVBAR*/
#nav {
    background-color:white;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 4px black;
    min-height:48px;
}

#companylogo {
    font-size:1rem;
    font-weight:800;
    color:darkred;
    padding-top: 10px;
    
}

#test {
    font-size:1rem;
    font-weight:800;
    padding-top: 10px;
    display:inline;
    color:darkred;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkred;
    text-align:left;   
}

.shopping-cart-button {
    margin-top: 6px;
}

#shoppingcartlogo {
    font-size:1rem;
    color:darkred;
}


/*DROP-DOWN SHOPPING CART*/
.hidden-basket {
    display: none;
    background: white;
}

.hidden-basket h3, span {
    font-size:0.7rem;
}

.basket-heading h3 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 8px;
}

.basket-text {
    padding-top: 0;
    padding-bottom: 4px;
}

.basket-text span {
    font-size:0.7rem;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 8px;
}

.basket-text-interactive span {
    color: rgb(0, 100, 38);
}

.basket-text .delete-button {
    display: hidden;
    font-size:0.7rem;
    color: darkred;
    background: none;
    border: none;
    padding: 0;
    margin: 0 4px 0 0;
}

.basket-text .amount-button {
    display: hidden;
    font-size:0.7rem;
    color: rgb(0, 87, 39);
    background: none;
    border: none;
    padding: 0;
    margin: 0 6px 0 4px;
}

.basket-sum {
    font-weight: bold;
}

.pay-btn {
    font-size:0.7rem;
    color:whitesmoke; 
    background-color: darkred;
    border-radius:28px;
    border: none;
    padding: 4px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* JUMBOTRON */

header {
    background-color:rgb(255, 255, 255);   

}
.jumbotron {
    background-image:url("../styles/headerimage/header-image.jpg")!important;
    /* background-image:url("../product_images/dalalven.jpg")!important; */
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.headercontent {
    background-color:whitesmoke;
    top: 15%;
    font-size: 0.7rem;
    padding:10px 20px 10px 20px;
    border-radius: 1px;
}
.introheadline {
    border-bottom:1px solid grey;
    padding-top:10px;
    font-size: 2rem;
    font-weight: 800;
    color:darkred;
    text-transform: uppercase;
    text-shadow:1px 1px black;
}

#webshop_button, #readmoreindex_button {
    font-size: 0.7rem;
    font-weight: 600;
    color: whitesmoke; 
    background-color: darkred;
    border-radius:25px;
    border: none;
    width:150px;
    margin-bottom:10px;
}
#webshop_button:hover, #readmoreindex_button:hover {
    background-color: rgb(90, 2, 2);
}

/* READ MORE */
.readmoreindex {
    display: none;
}
.infoheadline {
    font-size: 1.5rem;
    font-weight: 800;
    color:darkred;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    padding-bottom:10px;
}
#companylogo {
    width: 30%;
}
.index-productnewsimg {
    width: 15%;
}

.introtext {
    color: rgb(0, 0, 0);
    font-size:1rem;
}
.introheadline p {
    background-color:none;
}
.index-productnews {
    font-size:0.8rem;
    font-weight:500;
    color:grey;
    border:none;
}


/* FOOTER */
footer {
    background-color:whitesmoke;
    font-size: 0.7rem;
}
.footer-logo {
    font-size: 0.8rem;
    font-weight: 800;
}
.footer-phone, .footer-email {
    color: grey;
    text-decoration: underline;
}
.footer-phone:hover, .footer-email:hover {
    text-decoration: none;
    color: black;
}

/*
/* Padlet 768px */
@media (min-width: 768px) {
    /* HEADER */  

    .introheadline {
        font-size: 1.4rem;
    }
    .headercontent {
        font-size: 0.8rem;
        padding-left: 30px;
        padding-right: 30px;
    }    
    #companylogo {
        width: 25%;
    }
}


/*Desktop */ 
@media (min-width: 992px) {

    main {
        display:flex; 
    }

    /* Intro styling */

    .headercontent {
        padding-left: 90px;
        padding-right: 90px;
    }
   .introheadline {
       font-size: 1.8rem;
    }
    .introtext {
    font-size:1rem;
    }
    .introheadline p {
        background-color:none;
    }
    .index-productnews {
        font-size:0.7rem;
        font-weight:500;
        color:grey;
        align-self: baseline;
        text-transform: uppercase;
        border:none;
    }
}
