/* Mobile phones breakpoint */

/* JUMBOTRON */

header {
    background-color: rgb(255, 255, 255);   
}
.jumbotron {
    background-image:url("../styles/headerimage/header-image.jpg")!important;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content {
    background-color: whitesmoke;
    top: 15%;
    font-size: 0.7rem;
    padding:10px 20px 10px 20px;
    border-radius: 1px;
    width: 90%;
}
.intro-headline {
    border-bottom: 1px solid grey;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 800;
    color:darkred;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}

.image-link {
    object-fit: scale-down;
    height: 25vh;
    opacity: 0.7;
}

.jumbotron-button {
    display: block;    
    margin: 0 auto;
    font-size: 0.7rem;
    font-weight: 600;
    color: whitesmoke; 
    background-color: darkred;
    border-radius: 25px;
    border: none;
    width: 150px;
}

.jumbotron-button:hover {
    background-color: rgb(90, 2, 2);
    text-decoration: none;
}

.webshopbuttonlink a:hover {
    text-decoration: none;
}

/* READ MORE */
.readmore-index {
    display: none;
}

.page-info-headline {
    font-size: 1.5rem;
    font-weight: 800;
    color: darkred;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.company-logo {
    width: 30%;
}

.index-productnewsimg {
    object-fit: scale-down;
    height: 25vh;
}

.first-infotext {
    font-size: 0.8rem;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%; 
}

.second-infotext {
    font-size: 1rem;
    padding-top: 5%; 
}

.second-infotext p {
    font-size: 0.8rem;
}

.second-infotext a {
    font-size: 1rem;
    color: rgb(48, 45, 45);
}

.second-infotext a:hover {
    text-decoration: none;
}

.page-info-headline p {
    background-color: none;
}


/* Padlet 768px */
@media (min-width: 768px) {
    /* HEADER */  

    .intro-headline {
        font-size: 1.5rem;
    }
    .header-content {
        font-size: 0.8rem;
        padding-left: 30px;
        padding-right: 30px;
    }    
    .company-logo {
        width: 25%;
    }
}


/*Desktop */ 
@media (min-width: 992px) {

    main {
        display: flex; 
    }

    /* Intro styling */

    .header-content {
        padding-left: 90px;
        padding-right: 90px;
    }

   .intro-headline {
       font-size: 1.8rem;
    }

    .intro-headline p {
        background-color:none;
    }

    .first-infotext {
    font-size: 1rem;
    }


}
